apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: otel-collector
  namespace: observability
  labels:
    app: otel-collector
spec:
  selector:
    matchLabels:
      app: otel-collector
  template:
    metadata:
      labels:
        app: otel-collector
    spec:
      serviceAccountName: otel-collector
      securityContext:
        runAsNonRoot: true
        runAsUser: 10001
      containers:
        - name: otel-collector
          image: otel/opentelemetry-collector-contrib:0.96.0
          imagePullPolicy: IfNotPresent
          args: ["--config=/etc/otel/config.yaml"]
          ports:
            - name: metrics
              containerPort: 8889
          volumeMounts:
            - name: config
              mountPath: /etc/otel
              readOnly: true
            - name: varlogpods
              mountPath: /var/log/pods
              readOnly: true
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 300m
              memory: 512Mi
      volumes:
        - name: config
          configMap:
            name: otel-collector-config
        - name: varlogpods
          hostPath:
            path: /var/log/pods
            type: Directory