apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config
  namespace: observability
data:
  config.yaml: |
    receivers:
      prometheus:
        config:
          scrape_configs:
            - job_name: qover-app
              metrics_path: /metrics
              scrape_interval: 15s
              static_configs:
                - targets: ["qover-app.qover.svc.cluster.local:80"]

      filelog:
        include:
          - /var/log/pods/*/*/*.log
        start_at: end
        include_file_path: true
        operators:
          - type: router
            routes:
              - output: containerd
                expr: 'body matches "^[^ ]+Z "'
              - output: cri
                expr: 'body matches "^[0-9]{4}-[0-9]{2}-[0-9]{2}T"'
          - id: cri
            type: regex_parser
            regex: '^(?P<ts>[^ ]+) (?P<stream>stdout|stderr) (?P<flag>[^ ]*) (?P<msg>.*)$'
            timestamp:
              parse_from: attributes.ts
              layout_type: gotime
              layout: '2006-01-02T15:04:05.999999999Z07:00'
            output: add_msg
          - id: containerd
            type: regex_parser
            regex: '^(?P<ts>[^ ]+) (?P<stream>stdout|stderr) (?P<flag>[^ ]*) (?P<msg>.*)$'
            timestamp:
              parse_from: attributes.ts
              layout_type: gotime
              layout: '2006-01-02T15:04:05.999999999Z07:00'
            output: add_msg
          - id: add_msg
            type: move
            from: attributes.msg
            to: body

    processors:
      batch: {}
      k8sattributes:
        auth_type: serviceAccount
        extract:
          metadata:
            - k8s.namespace.name
            - k8s.pod.name
            - k8s.container.name
            - k8s.node.name

    exporters:
      prometheus:
        endpoint: 0.0.0.0:8889

      loki:
        endpoint: http://observability-loki:3100/loki/api/v1/push

    service:
      pipelines:
        metrics:
          receivers: [prometheus]
          processors: [batch]
          exporters: [prometheus]

        logs:
          receivers: [filelog]
          processors: [k8sattributes, batch]
          exporters: [loki]